@charset "utf-8";

/* CSS Document */
img {
    max-width: 100%;
    max-height: 100%;
}
.grow {
transition: 1s ease;
}

.grow :hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}
#upperdiv{height:100px;background-color:#999;}
#maindiv{width:1400px;height:1100px;background:url(Wooden-Wallpaper-028.jpg);margin-top:20px;}
#pehlipic{width:300px;height:350px;background-color:#FFF;margin-left:100px;margin-top:150px;}
#dusripic{width:300px;height:350px;background-color:#FFF;margin-left:560px;margin-top:-350px;}
#theesripic{width:300px;height:350px;background-color:#FFF;margin-left:1000px;margin-top:-350px;}
#fourthpic{width:300px;height:350px;background-color:#FFF;margin-left:-930px;margin-top:250px;}
#fifthpic{width:300px;height:350px;background-color:#FFF;margin-left:-450px;margin-top:-350px;}
#sixthpix{width:300px;height:350px;background-color:#FFF;margin-left:-10px;margin-top:-350px;}